<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    xmlns:horizonos="http://schemas.horizonos/sdk">
    <application>
        <activity android:name="com.unity3d.player.UnityPlayerGameActivity"
                  android:theme="@style/BaseUnityGameActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="android.app.lib_name" android:value="game" />
        </activity>
        <provider android:name="com.meta.virtualcamerasystem.ThumbnailProvider"
                  android:authorities="com.meta.VirtualCameraPublisherSample.thumbnailprovider"
                  android:exported="true"
                  android:grantUriPermissions="true">
       </provider>
    </application>
    <uses-permission android:name="horizonos.permission.CREATE_VIRTUAL_CAMERA" />
    <horizonos:uses-horizonos-sdk horizonos:minSdkVersion="81" horizonos:targetSdkVersion="81" />
</manifest>
